/** Search in alphabetical order **/

*{
	font-family: "Myriad Pro";
	font-weight: lighter;
}


body{
	background-image: url("/static/images/random5.jpg");
	background-clip: border-box;
	background-repeat: no-repeat;
    background-attachment: fixed;
    max-width:100%;
}

.circle-button{
	height:80px;
	width:80px;
	border-radius:50%;
	border:solid 5px transparent;
	background:black;
	outline:none;
	padding:12px;
}

.circle-button:hover{
	border: none;
}


.circle-button:focus{
	border:solid 2px black;

}


div.cto-navbar{
	/*background-color: rgba(255,255,255,0.97);*/
	background: black;
	height: 55px;

	position: fixed;  
    width: 100%;  
    left: 0;  
    top: 0;  
    right:0;
    z-index: 100;  
    border-top: 0;  
/*
    -moz-box-shadow:    0px 0px 2px  #000;
  	-webkit-box-shadow: 0px 0px 4px  #000;*/
}

div.cto-navbar ul.right{
	display: block;
	float: right;
	padding-right:20px;
	height:100%;
	list-style-type: none;
}

div.cto-navbar ul.left{
	float: left;
	padding-left:10px;

	height:100%;
	background-color: rgba(0,0,0,0.8);
}

div.cto-navbar ul.left:hover{
	background-color: rgba(0,0,0,1);
}

div.cto-navbar ul.left li{

	display: inline-block;
	padding-left:10px;
	padding-right: 10px;
	text-align: center;
	height:100%;
	font-size: 40px;
	padding-top: 5px;
}

div.cto-navbar ul.right li{

	display: inline-block;
	padding-left:0px;
	padding-right: 0px;
	text-align: center;
	height:100%;
	font-size: 17px;
}

div.cto-navbar ul.left li a{
	height: 100%;
	color: white;
	padding-right: 10px;
}

div.cto-navbar ul.right li a{
	display: block;
	/*padding-left:15px;*/
	/*padding-right: 15px;*/
	line-height: 54px;
	width:100px;
	color: white;
	text-align: center;
	vertical-align: middle;
}


div.cto-navbar ul.right li a:hover,div.cto-navbar ul.right li a:focus, div.cto-navbar ul.left li a:focus, div.cto-navbar ul.left li a:hover, div.cto-dropdown-menu ul li a:hover, div.cto-dropdown-menu ul li a:focus{
	text-decoration: none;
}

div.cto-navbar ul.right li a:hover{
	background-color: white;
	color: black;
}

div.cto-dropdown-menu ul li a:hover{
	background-color: black;
	color: white;
}

div.cto-dropdown-menu{
	position:fixed;
	margin-top: 54px;
	padding:0px;
	width:100%;
	display: block;
	z-index: 1;
}

div.cto-dropdown-menu ul {
	background-color: white;
	padding:0px;
}


div.cto-dropdown-menu ul li{
	background-color: white;
	width: 100%;
	display: block;
}

div.cto-dropdown-menu ul li a{
	display: block;
	/*padding-left:15px;*/
	/*padding-right: 15px;*/
	line-height: 40px;
	width:100%;
	text-align: center;
	font-size: 18px;
	color: black;
}


div.main-title{
	width: 400px;
	height: 430px;
	background-color: rgba(250,250,250,1);
}

.fill {
width:100%;
margin-left: auto;
margin-right: auto;
max-width: initial;
}

#inner-left-container{
	padding:50px;
	padding-top: 54px;
}

#inner-right-container{
	padding:50px;
	padding-top: 54px;
}

input#subscribe{
	width:100%;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	max-width: initial;
	border: none;
	outline: none;
}

input#subscribe:focus{
	border: solid blue 2px;
}

input#subscribe:hover{
	border: solid black 2px;
}

#left-content{
	padding: 40px;
	background: rgba(250,250,250,0.99);
}

#left-content h1{
	color: black;
}


#right-content{
	padding: 40px;
	background: rgba(250,250,250,0.99);
}

#right-content p{
	font-size: 25px;
}

.page_body{
	width:100%;
	background: rgba(0,0,0,1) fixed;
	display: flex;
	align-items: center;
}

#menu-icon-container{
	width:60px;
	padding-right: 15px;
	padding-left: 15px;
	line-height: 54px;
	float: right;
}

#menu-icon-container:hover{
	cursor: pointer;
}

.second_page_body{
	width:100%;
	background: rgba(250,250,250,0.8);
}

.third_page_body{
	width:100%;
	padding:50px;
	background: rgba(250,250,250,0.9);
}

h1{
	color:white;
	font-family:'Avenir';
	font-weight:lighter;
}

h2{
	color:white;
	font-family:'Avenir';
	font-weight:lighter;	
}

.cto-stick{
	position:fixed;
	top:0px;
}


@media screen and (max-width:640px) and (min-width: 300px){
	div.cto-navbar ul.left{
		width: 80%;
	}
	div.cto-navbar ul.right{
		width: 20%;
		text-align: center;
	}

	.second_page_body{
		display: block;
	}

	#inner-left-container{
		padding:0px;
	}

	#inner-right-container{
		padding:0px;
	}
	div.cto-navbar ul.right li{
		display: none;
	}
}	

@media screen and (max-width:960px){
	.second_page_body{
		padding-right: 0px;
		padding-left: 0px;
	}
}

